.vs
ITIRR.Admin/bin
ITIRR.Admin/obj
ITIRR.API/obj
ITIRR.Core/obj
ITIRR.Infrastructure/obj
ITIRR.Web/obj
*.uer~
ITIRR.Services/obj
ITIRR.API/bin
ITIRR.Core/bin
ITIRR.Services/bin
ITIRR.Web/bin
ITIRR.Infrastructure/bin
