.vs
ITIRR.Admin/bin
ITIRR.Admin/obj
ITIRR.API/obj
ITIRR.Core/obj
ITIRR.Infrastructure/obj
ITIRR.Web/obj
*.uer~
ITIRR.Admin/ITIRR.Admin.csproj.user
ITIRR.API/ITIRR.API.csproj.user
ITIRR.Web/ITIRR.Web.csproj.user
ITIRR.Services/obj
ITIRR.API/bin
ITIRR.Core/bin
ITIRR.Services/bin
ITIRR.Web/bin
*.csproj
ITIRR.Admin/ITIRR.Admin.csproj
ITIRR.Infrastructure/bin
