/* ============================================== MEDIA QUERY START HERE =============================================== */

@media only screen and (min-width: 1400px) and (max-width: 2560px) {}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {}

@media only screen and (min-width: 992px) and (max-width: 1024px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {}

@media only screen and (min-width: 480px) and (max-width: 767px) {}

@media only screen and (min-width: 321px) and (max-width: 479px) {
     .agency-header h1{
        font-size: 30px;
    }
}

@media only screen and (max-width: 320px) {
    .custom-breadcrumb{
        font-size: 13px;
    }
     .agency-header h1{
        font-size: 23px;
    }
}
@media (max-width: 600px){
  .custom-breadcrumb{
    display: none;
  }
      #main {
        padding: 20px 10px !important;
    }
  .agency-tabs .nav-link{
    padding: 10px 6px;
    font-size: 10px;
    line-height: 16px;
  }
  .agency-header h1{
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 0px;
  }
  .agency-header p{
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 20px;
  }
  .basic-bg{
    padding: 16px 12px;
  }
  .my-profile img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
  }
  .my-profile .upload{
    font-size: 12px;
    padding: 8px;
  }
   .enter-text::placeholder{
        font-size: 14px;
      }
      .agency-header .vehicle{
         display: none;
      }
}